*.pyc
*.gz
*.nc
*.png
.eggs/
BGCVal2.egg-info/
bgcval2/bgcvaltools/__pycache__
bgcval2/netcdf_manipulation/__pycache__
bgcval2/timeseries/__pycache__
bgcval2/Paths/__pycache__
bgcval2/p2p/__pycache__
bgcval2/html5/__pycache__
bgcval2/comparison/__pycache__
__pycache__
bgcval2/__pycache__
.coverage
test-reports
